@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px 30px;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 50px;
  font-weight: 900;
  width: fit-content;
  margin: 0 auto;
  text-shadow: 4px 4px rgba(0,0,0,0.3)
}

.text_center {
  text-align: center;
}

.m-t4{
  margin-bottom: 4rem;
}

small {
    font-size: 1.15em;
    font-weight: 600;
}

.fa-heart{
    color: red;
    font-size: 1.5em;
}